@define-color normal-fg-0 #c0caf5;
@define-color selected-bg rgba(192, 202, 245, 0.25);
@define-color hovered-bg rgba(192, 202, 245, 0.15);
@define-color info #7aa2f7;
@define-color info-bg rgba(122, 162, 247, 0.1);
@define-color warning #e0af68;
@define-color warning-bg rgba(224, 175, 104, 0.1);
@define-color critical #f7768e;
@define-color critical-bg rgba(247, 118, 142, 0.1);

* {
    color: inherit;
    border-radius: 0;
    box-shadow: none;
    font-family: monospace;
    font-size: 16px;
}

window {
    color: @normal-fg-0;
}

window#waybar {
    background: transparent;
}

window#waybar.hidden {
    opacity: 0.2;
}

.module,
#workspaces button,
#privacy-item {
    transition-duration: .3s;
    padding: 0 4px;
}

.modules-left > widget > .module,
#workspaces button {
    margin-right: 4px;
}

.modules-right > widget > .module,
#privacy-item {
    margin-left: 4px;
}

.modules-center > widget > .module,
#workspaces,
#privacy {
    margin: 0;
    padding: 0;
}

.module:hover,
#workspaces button:hover,
#privacy-item {
    background: @hovered-bg;
}

.modules-center > widget > .module:hover,
#workspaces:hover,
#privacy:hover {
    background: none;
}

#workspaces button.focused,
#idle_inhibitor.activated {
    background-color: @selected-bg;
}

#mode,
#scratchpad,
#privacy-item,
#battery.charging {
    color: @info;
    background-color: @info-bg;
}

#cpu.warning,
#memory.warning,
#battery.warning {
    color: @warning;
    background: @warning-bg;
}

#workspaces button.urgent,
#cpu.critical,
#memory.critical,
#network.disconnected,
#battery.critical {
    color: @critical;
    background: @critical-bg;
}
