@define-color foreground #c0caf5;
@define-color selected-bg rgba(192, 202, 245, 0.25);
@define-color hovered-bg rgba(192, 202, 245, 0.15);
@define-color info #7aa2f7;
@define-color info-bg rgba(122, 162, 247, 0.5);
@define-color warning #e0af68;
@define-color warning-bg rgba(224, 175, 104, 0.25);
@define-color critical #f7768e;
@define-color critical-bg rgba(247, 118, 142, 0.4);
/* @define-color inactive #414868; */
/* @define-color inactive-bg rgba(65, 72, 104, 0.7); */

* {
    color: @foreground;
    border-radius: 0;
    box-shadow: none;
    font-family: monospace;
    font-size: 16px;
}

window#waybar {
    background: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left > widget > .module {
    margin-right: 4px;
    padding: 0 4px;
    border-bottom: 2px solid @foreground;
}

.modules-right > widget > .module {
    margin-left: 4px;
    padding: 0 4px;
    border-bottom: 2px solid @foreground;
}
 
#cpu.warning,
#memory.warning {
    background-color: @warning-bg;
    border-bottom: 2px solid @warning;
}

#workspaces button.urgent,
#cpu.critical,
#memory.critical, 
#network.disconnected {
    background-color: @critical-bg;
    border-bottom: 2px solid @critical;
}

#privacy,
#mode,
#scratchpad {
    background-color: @info-bg;
    border-bottom: 2px solid @info;
}

#workspaces {
    margin: 0;
    padding: 0;
    border-bottom: none;
}

#workspaces button {
    margin-right: 4px;
    padding: 0 4px;
    border-bottom: 2px solid @foreground;
    transition-property: background-color;
    transition-duration: .1s;
}

#workspaces button.focused {
    background-color: @selected-bg;
}
 
#workspaces button:hover {
    background: @hovered-bg;
}
