[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
Environment=PATH=%h/.cargo/bin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin
Environment=DISPLAY=:0
Type=simple
ExecStart=/bin/sh -c 'kanata --cfg "$(cat "$HOME"/.dotpath)/configs/kanata/config.kbd"'
Restart=no

[Install]
WantedBy=default.target
