@define-color normal-fg-0 #c0caf5;
@define-color normal-fg-1 #93a4bd;
@define-color normal-bg-0 rgba(10, 10, 20, 0.8);
@define-color normal-bg-1 #25293b;
@define-color normal-bg-2 #31364e;
@define-color normal-bg-3 #414868;
@define-color selected-bg rgba(192, 202, 245, 0.25);
@define-color hovered-bg rgba(192, 202, 245, 0.15);
@define-color info #7aa2f7;
@define-color info-bg rgba(122, 162, 247, 0.1);
@define-color warning #e0af68;
@define-color warning-bg rgba(224, 175, 104, 0.1);
@define-color critical #f7768e;
@define-color critical-bg rgba(247, 118, 142, 0.1);

* {
	all: unset;
	font-family: monospace;
	font-size: 16px;
	color: @normal-fg-0;
}

.notification-background {
	padding: 0.5rem 2rem;
}

.notification {
	background-color: @normal-bg-0;
	border: 2px solid @normal-fg-1;
	border-radius: 4px;
}

.notification.normal {
	border-color: @info;
}

.notification.critical {
	border-color: @critical;
}

.notification .notification-default-action {
	padding: 1rem;
}

.notification .notification-default-action:hover {
	background-color: @hovered-bg;
}

.notification .summary {
	font-size: 18px;
	font-weight: bold;
}

.notification .image {
	padding-right: 1rem;
	-gtk-icon-size: 3rem;
}

.notification .notification-alt-actions {
	padding: 0.5rem 0.5rem 1rem;
}

.notification .notification-action {
	padding: 0 1rem;
}

.close-button {
	margin: 3px;
	padding: 1rem;
}

.control-center {
	background-color: @normal-bg-0;
}

.widget {
	padding: 1rem;
}

.widget-title > label {
	font-size: 1.5rem;
	font-weight: bold;
}

button {
	background-color: @normal-bg-1;
	border-radius: 4px;
	padding: 0.5rem;
}

button:hover {
	background-color: @normal-bg-2;
}

button:active {
	background-color: @normal-bg-3;
}

*:disabled {
	color: @normal-fg-1;
}
