@define-color normal-fg-0 #c0caf5;
@define-color normal-fg-1 #93a4bd;
@define-color normal-bg-0 rgba(10, 10, 20, 0.8);
@define-color normal-bg-1 #25293b;
@define-color normal-bg-2 #31364e;
@define-color normal-bg-3 #414868;
@define-color selected-bg rgba(192, 202, 245, 0.25);
@define-color hovered-bg rgba(192, 202, 245, 0.15);
@define-color info #7aa2f7;
@define-color info-bg rgba(122, 162, 247, 0.1);
@define-color warning #e0af68;
@define-color warning-bg rgba(224, 175, 104, 0.1);
@define-color critical #f7768e;
@define-color critical-bg rgba(247, 118, 142, 0.1);

* {
  all: unset;
  font-family: monospace;
  font-size: inherit;
  color: inherit;
}

progressbar > trough {
  background-color: @normal-bg-2;
}

progress {
  background-color: @normal-fg-0;
}

scale value {
  font-size: 12px;
  color: @normal-fg-1;
}

scale trough {
  background-color: @normal-bg-2;
  border: 2px solid @normal-bg-1;
}

scale.horizontal trough {
  margin: 0 4px;
}

scale trough:focus {
  border: 2px solid @info;
}

scale trough highlight {
  background-color: @normal-fg-0;
}

scale trough slider {
  min-height: 5px;
  min-width: 5px;
}

scale trough:focus slider {
  background-color: @info;
}

.background {
  font-size: 14px;
  background-color: @normal-bg-0;
}

.layout {
  padding: 10px;
}

.section {
  background-color: @normal-bg-1;
  padding: 4px;
  margin: 4px;
}

.icon {
  font-size: 42px;
  margin: 4px;
  padding: 8px;
}

.icon.medium {
  font-size: 18px;
  padding: 4px;
  margin: 4px;
}

.icon.small {
  font-size: 12px;
  padding: 6px;
  margin: 2px;
}

.icon-button {
  border: 1px solid transparent;
}

.icon-button:hover, .icon-button:focus {
  background-color: @normal-bg-2;
}

.icon-button:active {
  background-color: @normal-bg-3;
}

.icon-button:focus {
  border: 1px solid @info;
}

.icon-button.disabled {
  color: @normal-bg-3;
}

.icon-button.danger {
  color: @critical;
}

.bluetooth-device {
  padding-right: 16px;
}

.horizontal-divider {
  border-bottom: @info 2px solid;
  margin: 8px 0px;
}

.audio-media-control {
  padding-right: 8px;
}

.audio-player {
  padding: 8px 8px 0;
}

.audio-player-title {
  font-size: 14px;
}

.audio-player-artist {
  font-size: 12px;
  color: @normal-fg-1;
}

.audio-player-time {
  padding-left: 8px;
  font-size: 12px;
  color: @normal-fg-1;
}

.debug {
  border: 2px solid red;
}
