[Unit]
Description=Eww ElKowars wacky widgets

[Service]
Type=simple
ExecStart=/bin/sh -c 'exec eww daemon --no-daemonize'
Restart=on-failure

[Install]
WantedBy=graphical-session.target
