#!/bin/sh

alias v='$EDITOR'
alias g='git'
alias c='cargo'
alias d='docker'
alias n='nix'
alias f='nix flake'
alias dc='docker compose'
alias kc='kubectl'
alias kx='kubectx'
alias be='bundle exec'
alias bi='bundle install'
alias tf='terraform'

alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias grep='grep --color=auto'

alias l='ls'
alias ls='ls --color=auto'
alias ll='ls -lh'
alias la='ls -A'
alias_if_exists l='eza'
alias_if_exists ls='eza --color=auto'
alias_if_exists ll='eza -lh'
alias_if_exists la='eza -a'

alias_if_exists cat='bat'
alias_if_exists cat='batcat'

alias '...'='cd ../..'
alias '....'='cd ../../..'
alias '.....'='cd ../../../..'

alias_source_if_exists "$DOTFILES_LOCAL_HOME/sh/.aliases"
